/* CDN Fonts */
@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');

/* CSS Variables */
:root {
  --font-ko-main: 'MaruBuri', sans-serif;
  --color-primary: #F5F5F5;
  --color-secondary: #5C82B4;
}